supervision==0.6.0
gradio<4.0.0,>=3.24.1
git+https://github.com/IDEA-Research/GroundingDINO.git@df5b48a3efbaa64288d8d0ad09b748ac86f22671
asttokens
backcall
debugpy
decorator
entrypoints
executing
ipykernel
ipython
jedi
jupyter_client
jupyter_core
matplotlib-inline
nest-asyncio
packaging
parso
pexpect
pickleshare
pip
prompt-toolkit
prompt_toolkit
psutil
ptyprocess
pure_eval
pygments
python-dateutil
pyzmq
readline
setuptools
six
stack_data
tk
tornado
traitlets
typing_extensions
wcwidth
wheel
addict
aiofiles
aiohttp
aiosignal
altair
anyio
arrow
async-timeout
attrs
backoff
beautifulsoup4
blessed
certifi
charset-normalizer
click
cmake
contourpy
croniter
cycler
dateutils
deepdiff
exceptiongroup
fastapi
ffmpy
filelock
fonttools
frozenlist
fsspec
gradio-client
h11
httpcore
httpx
huggingface-hub
idna
importlib-metadata
importlib-resources
inquirer
itsdangerous
jinja2
jsonschema
jsonschema-specifications
kiwisolver
lightning
lightning-cloud
lightning-utilities
linkify-it-py
lit
markdown-it-py
markupsafe
matplotlib
mdit-py-plugins
mdurl
mpmath
multidict
networkx
numpy
opencv-python
ordered-set
orjson
pandas
pillow
pkgutil-resolve-name
platformdirs
pycocotools
pydantic
pydub
pyjwt
pyparsing
python-editor
python-multipart
pytorch-lightning
pytz
pyyaml
readchar
referencing
regex
requests
rich
rpds-py
safetensors
segment-anything
semantic-version
sniffio
soupsieve
spectral
starlette
starsessions
sympy
timm
tokenizers
tomli
toolz
torch
torchmetrics
torchvision
tqdm
transformers
triton
tzdata
uc-micro-py
urllib3
uvicorn
websocket-client
websockets
yapf
yarl
zipp
